//@import "bootstrap/scss/bootstrap.scss"; // не выделяется в чанк - необходимо импортировать в entry js
@import "common.css";

@font-face {
  font-family: 'MyFont';
  src: url('../assets/fonts/Rainbow in June.ttf');
  font-weight: 600;
  font-style: normal;
}
h1 {
  color: darkblue;
  font-family: 'MyFont';
  font-size: 100px;
}

.example-app {
  background-image: url('../assets/images/icon.png');
  height: 128px;
  margin: 20px;
}